.hero-block {
  position: absolute;
  top: 500px;
  left: 300px;
  z-index: 2;
  text-align: left;
}

.movie-list {
  top: 600px;
}

.main-title {
  font-size: 64px;
  color: #ffffff;
  font-weight: 700;
}

.main-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.life-search-title {
  font-size: 18px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.movie-type {
  font-size: .7rem;
  line-height: .9rem;
  margin-left: 20px;
}
